<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
            <a class="btn btn-lg btn-info"  sec:authorize="isAuthenticated()" href="/shopLogout}">로그아웃</a>
        <p class="lead">User</p>
        <p>
            <a class="btn btn-lg btn-info" sec:authorize="hasRole('ROLE_USER')" href="/order">상품 주문</a>
            <a class="btn btn-lg btn-info" sec:authorize="hasRole('ROLE_USER')" href="/items">상품 목록</a>
        </p>
        <p class="lead">Order List(For. User & Admin)</p>
        <p>
            <a class="btn btn-lg btn-secondary" sec:authorize="isAuthenticated()" href="/orders">주문 내역</a>
        </p>
        <p class="lead">Admin</p>
        <p>
            <a class="btn btn-lg btn-dark" sec:authorize="hasRole('ROLE_ADMIN')" href="/members">회원 목록</a>
            <a class="btn btn-lg btn-dark" sec:authorize="hasRole('ROLE_ADMIN')" href="/items/new">상품 등록</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
