<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header">
  <title>Main</title>
  <style>
    h1 { color: blue;  text-align: center; }
  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader" />
  <div class="jumbotron">
    <h1>Welcome Our Shop</h1>
    <br>
    <a class="btn btn-lg btn-info" sec:authorize="isAnonymous()" href="signUp">회원 가입</a>
    <a class="btn btn-lg btn-info" sec:authorize="isAnonymous()" href="shopLogin">로그인</a>
  </div>
  <br>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
