<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Login Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"></div>
    <div class="jumbotron">
        <h1>Please Login</h1>
        <br>
        <form th:action="@{/shopLogin}" method="post">
            <input type="text" name="username" placeholder="이메일 입력해주세요">
            <input type="password" name="password" placeholder="비밀번호">
            <button type="submit">로그인</button>
        </form>
    </div>
    <br>
    <div th:replace="fragments/footer :: footer"></div>
</div> <!-- /container -->
</body>
</html>
